/*
* What are you lifting V1
* Copyright 2018, stevenhaskell
* 10/10/2018
*/


/* Table of contents - Example
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/

p {
	margin-bottom: 0px;
	margin-top: 0px;
}

h2 {
	font-family: Roboto;
	color: #FCFCFC;
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 0.15px;
	line-height: 28px;
}

a {
	text-decoration: none;
}


.b-header{
	height: 24vh;
	background-color: #48484A;
	text-align: center;
	color: #FFFFFF;
	position: relative;
	box-shadow: 0 3px 6px 0 rgba(0,0,0,0.23), 0 3px 6px 0 rgba(0,0,0,0.16);
	z-index: 1000;
}

.b-header__heading{
	color: #CCFF00;
	font-family: Roboto;
	font-size: 24px;
	font-weight: 400;
	line-height: 48px;
	letter-spacing: .025em;
	margin: 0px;
}

.b-header__container {
	width: 80%;
	margin: 0;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
}

p.subheading {
	font-family: 'Zilla Slab', serif;
	font-weight: 500;
	font-style: italic;
	font-size: 16px;
	letter-spacing: .75pt;
	margin-bottom: 0;
}

.b-platevisual{
	height: 36vh;
	background-color: #FFFFFF;
	text-align: center;
	color: #48484A;
	position: relative;
	z-index: 100;
}


.b-platevisual__container{
	width: 80%;
	margin: 0;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
	color: #48484A;
	font-family: Roboto;
	font-size: 20px;
	font-weight: 500;
	line-height: 28px;
	letter-spacing: .015px;

}

.b-platevisual__weightfinal{
	color: #48484A;
	font-family: Roboto;
	font-size: 20px;
	font-weight: 500;
	line-height: 28px;
	letter-spacing: .015px;
}

.b-platevisual__weight{
	position: relative;
	max-width: 300px;
	margin: auto;
}

.b-platevisual__barbell{
	width: 100%;
	max-width: 300px;
	vertical-align: top;
}

.b-platevisual__plates{
	position: absolute;

}

.b-platevisual__plates--left{
	top: 50%;
	transform: translate(-100%, -50%);
	left: 21%;

}

.b-platevisual__plates--right{
	top: 50%;
	transform: translateY(-50%);
	left: 79%;
}

.b-calulatorinputs {
	height: 40vh;
	width: auto;
	background-color: #8C8E90;
	text-align: left;
	color: #FFFFFF;
	position: relative;
	box-shadow: 0 6px 6px 0 rgba(0,0,0,0.26), 0 10px 20px 0 rgba(0,0,0,0.19);
	z-index: 500;
}


.b-calulatorinputs__platerequirements{
	height: 50%;
	text-align: center;
	background-color: #8C8E90;
	border-bottom: 16px solid #FF6600;
	box-sizing: border-box;
	padding-top: 2%
}

.b-calulatorinputs__inputcontainer{
	width: 100%;
	color: #FCFCFC;
	font-family: Roboto;
	font-size: 10px;
	font-weight: 500;
	line-height: 14px;
	letter-spacing: 1.5px;
	height: auto;
	overflow: visible;
	text-align: center;
	padding-top: 2%
}



.b-calulatorinputs__input{
	display: inline-block;
	margin-right: 5px;
	text-align: center;

}

.b-calulatorinputs__input:last-child{
	margin-right: 0px;

}

.b-calulatorinputs__weightinput{
	display: inline-block;
	text-align: center;

}

input.input-weightsneeded{
	width: 100%;
	font-family: "Zilla Slab";
	font-size: 14px;
	font-style: italic;
	font-weight: 500;
	letter-spacing: 0.75px;
	line-height: 20px;
	text-align: center;
	width: 41px;
	height: 33px;
	padding: 0px;
	background-color: #D8D8D8;
	color: ##48484A;
}

.b-calulatorinputs__infoentry{
	background-color: #48484A;
	height: 50%;
	position:relative;
}


.b-calulatorinputs__infoentry label{
	text-align: left;
}

label {
	font-family: Roboto;
	font-size: 10px;
	font-weight: 300;
	letter-spacing: 1.5px;
	line-height: 14px;
}

.input-weight {
	height: 33px;
	width: 196px;
	border-radius: 4px;
	background-color: #D8D8D8;
	color: #48484A;
	font-family: "Zilla Slab";
	font-size: 14px;
	font-style: italic;
	font-weight: 500;
	letter-spacing: 0.75px;
	line-height: 20px;
	margin-right: 5px;
}

.input-calculate {
	box-sizing: border-box;
	height: 38px;
	width: 88px;
	border: 2px solid #FF6600;
	border-radius: 4px;
	background-color: #CCFF00;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	color: #5A5A5C;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0.75px;
	line-height: 20px;
	text-align: center;
}

input.input-calculate:active{
	border: 2px solid #CCFF00;
	border-radius: 4px;
	background-color: #FF6600;
	color: #FFFFFF;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

input.input-calculate:focus{
	outline-style: none;
}

.b-infoentry__dividerheading{
	display: block;
    margin: 16px auto;
    position: relative;
	border-bottom: 1px solid #979797;
	max-width: 288px;
}

.b-infoentry__heading{
	background: #48484A;
    white-space: nowrap;
    padding: 0 32px;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, -100%);
}

.b-options{
	background-color: #8C8E90;
	position: relative;
	height: auto;
}

.b-options__weightmanipulators{
	padding-top: 2%;
}

.b-options__inputcontainer{
	width: 100%;
	color: #FCFCFC;
	font-family: Roboto;
	font-size: 10px;
	font-weight: 500;
	line-height: 14px;
	letter-spacing: 1.5px;
	height: auto;
	overflow: visible;
	text-align: center;
	padding-top: 2%;
}

.b-options__optionsinput{
	display: inline-block;
    text-align: center;
}

.b-options__inputcontainer label{
	text-align: left;
}

.input-bar{
	height: 33px;
    width: 142px;
    border-radius: 4px;
    background-color: #D8D8D8;
    color: #48484A;
    font-family: "Zilla Slab";
    font-size: 14px;
    font-style: italic;
    font-weight: 500;
    letter-spacing: 0.75px;
    line-height: 20px;
    margin-right: 6px;
}
.input-percentage{
	height: 38px;
    width: 142px;
    border-radius: 4px;
    background-color: #D8D8D8;
    color: #48484A;
    font-family: "Zilla Slab";
    font-size: 14px;
    font-style: italic;
    font-weight: 500;
    letter-spacing: 0.75px;
    line-height: 20px;
    margin-right: 0px;
}

.b-options__platesavailable{
	height: 50%;
	text-align: center;
	background-color: #8C8E90;
	padding: 2% 0px;
	color: #FFFFFF;
}

input.input-weightsavailable{
	width: 100%;
	font-family: "Zilla Slab";
	font-size: 14px;
	font-style: italic;
	font-weight: 500;
	letter-spacing: 0.75px;
	line-height: 20px;
	text-align: center;
	width: 41px;
	height: 33px;
	padding: 0px;
	background-color: #D8D8D8;
	color: ##48484A;
}

.b-returntop{
	position: relative;
	width: 100%;
	background-color: #CCFF00;
	box-shadow: 0 6px 6px 0 rgba(0,0,0,0.26), 0 10px 20px 0 rgba(0,0,0,0.19);
	z-index: 500;
	padding: 1vh 0px;
	min-height: 64px;
	color: #48484A; 
	text-align: center;
}

.b-returnTop_heading{
	color: #48484A;
}

@media screen and (orientation: landscape) {
  .b-header{
  	min-height: 136px;
  }
  .b-platevisual{
  	min-height: 204px;
  }
  .b-calulatorinputs{
  	min-height: 245px;
  }
  
}




/*
.b-container {

}

.b-header__heading{

}

.b-header__subheading

.b-platevisual

.b-platevisual__weightfinal

.b-platevisual__barbell

.b-platevisual__weightdifference

.b-platerequirements

.b-platerequirements__subheading

.b-platerequirements__input

.b-infoentry

.b-infoentry__overline

.b-infoentry__input

.b-infoentry__button

.b-infoentry__heading

.b-options

.b-options__overline
*/